.headf {
  #navbar {
    margin: 20px 20px 80px 20px;
    #menu {
      z-index: 3000;
    }

    .custom-toggler.navbar-toggler {
      border-color: #3d2514;
    }

    .navbar-toggler {
      // border: none;
      border-radius: 0;
      z-index: 2000;
    }

    button {
      &:focus {
        outline: 1px solid $color-text;
      }
    }

    .top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 10px;

      i {
        margin-right: 10px;
      }
    }

    .navbar-nav {
    }

    .nav-item {
      margin-left: 70px;
      &:hover {
        border-bottom: 1px solid $color-text;
      }
    }

    .nav-link {
      font-weight: 500;
      color: $color-text;
      padding: 0;
    }

    .d-img {
      height: 30px;
      margin-bottom: 10px;
      padding-right: 10px;
    }

    @media screen and (max-width: 768px) {
      margin: 40px 40px 80px 20px;
      .logo {
        height: 100%;
        // width: 50%;
      }
      .top {
        justify-content: flex-start;
        padding-top: 10px;
      }
      .nav-item {
        margin-left: 0px;
      }
      .nav-link {
        padding: 5px 0px;
      }
    }
    @media screen and (max-width: 450px) {
      margin: 20px 0px 0px 0px;
      .logo {
        // height: 100%;
        width: 80%;
      }
      .top {
        h5 {
          font-size: 18px;
        }
      }
    }
  }

  // background: $color-primary;
  background: url("../img/Harm.jpg");
  overflow: hidden;
  .burger-img {
    margin-top: -200px;
    margin-right: -200px;
    // height: 100%;
    // width: auto;
    padding: 40px 0px 70px 0px;
    object-fit: cover;
    transform: scale(1.4);
    @media screen and (max-width: 450px) {
      margin-left: 20px;
    }
  }

  .img-text {
    padding: 0px 40px 90px 40px;

    @media screen and (max-width: 450px) {
      padding: 30px 40px 90px 20px;
    }
  }
}
