#events {
  h1 {
    margin-top: -7px;
  }
  p {
    text-align: justify;
  }

  .box {
    padding: 20px 10px 20px 20px;
    box-shadow: 0px 13px 53px -31px rgba(0, 0, 0, 0.75);
  }
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: left;
  margin-bottom: 10px;
}
