.headf {
  background: $color-primary;
  overflow: hidden;
  .burger-img {
    margin-top: -200px;
    margin-right: -200px;
    // height: 100%;
    // width: auto;
    padding: 40px 0px 70px 0px;
    object-fit: cover;
    transform: scale(1.4);
  }

  .img-text {
    // margin-left: 40px;
    // object-fit: cover;
    // object-position: top;
    padding: 0px 40px 90px 40px;
  }
}

.navi {
  padding: 40px 40px;
  // margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  .navi__links {
    font-size: 16px;
    font-weight: 600;
    // display: flex;
    // flex-direction: column;

    .top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 10px;
      i {
        margin-right: 10px;
      }
    }

    .bottom {
      .navi__list {
        display: flex;
        list-style: none;
      }
      .navi__item {
        margin-left: 60px;
      }
      .navi__link {
        text-decoration: none;
        color: $color-text;
      }
    }
  }

  @media screen and (max-width: 916px) {
    .navi__links {
      display: none;
    }
  }
}

.text {
  // display: flex;
  // height: 50%;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // margin-top: 100px;
  margin-left: 40px;
  &__dotted {
    display: inline;
    font-size: 1rem;
    padding: 7px 10px;
    border: 1px dashed black;
  }

  &__burger {
    font-family: "Alfa Slab One", cursive;
    text-shadow: 5px 5px 0px rgb(255, 255, 255);
    font-size: 100px;
  }

  &__week {
    font-family: "Alfa Slab One", cursive;
    text-shadow: 5px 5px 0px rgb(255, 255, 255);
    font-size: 50px;
    margin-top: -30px;
  }
}
